div,
p,
input,
button,
form,
span,
a,
ul,
li {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1270px;
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.hide-menu{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}

.show-menu{  
    border-left: 1px solid rgb(93, 93, 93, 0.25);
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    padding: 10px 5px;
    display: none;
}

.show-menu-p{
        font-size: 10px;
        text-align: center;
}

.header-wrapper {
  background: url("./img/header/1.jpg") no-repeat center top / cover;
}

.header {
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 100px;
  padding: 20px 20px 20px 50px;
}

.hamburger{
    display: none;
    padding-top: 20px;
    margin-right: 20px;
}



.bi-x-lg{
    display: none;
    z-index: 999;
    margin: 10px;
}

.nav {
  font-size: 12px;
  color: white;
  display: inline;
}

.header-p,
.navwrapper {
  display: inline;
  padding-top: 20px;
  padding-right: 50px;
}

.header-a {
    padding-top: 20px;
}

.header-p {
  font-size: 10px;
  vertical-align: middle;
}

.nav-li {
  padding-left: 20px;
  display: inline;
}

.nav-li a:hover {
  border-bottom: 3px solid white;
}

.offer {
  position: absolute;
  color: white;
  width: 400px;
  margin-top: -345px;
  margin-left: 130px;
}
.offer-p {
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  margin: 300px 0;
}

.header-nav-span {
  border-radius: 50%;
  padding: 8px;
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.header-nav-span:hover {
  opacity: 0.7;
}

.header-nav-svg {
  color: white;
  padding: 4px;
  vertical-align: middle;
}
.header-dot {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.dot {
  display: inline-block;
  width: 40px;
  height: 2px;
  background-color: #868686;
  margin-right: 15px;
  cursor: pointer;
}

.dot.active {
  background-color: #ebebeb;
}

li {
  list-style-type: none;
}

.wrapper {
  display: flex;
}

.content {
  display: flex;
  justify-content: space-between;
}

.content-info {
  margin-top: auto;
  margin-bottom: auto;
}

.card {
  width: 270px;
  border: 1px solid rgb(93, 93, 93, 15%);
  padding-bottom: 20px;
  padding-top: 15px;
  margin: 10px 10px;
  display: inline-block;
}

.card:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.card-img {
  width: 250px;
  margin: 0 auto;
  display: block;
}

.info {
  padding-left: 20px;
}

.navbar {
  border-left: 1px solid rgb(93, 93, 93, 0.25);
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 20px;
  display: flex
}

.navbar-list li {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #606060;
  font-weight: 300;
  width: 200px;
  cursor: pointer;
}

.navbar-list li.active {
  font-weight: 700;
}

.content-chevron {
  padding: 300px 10px;
}

.more {
  display: block;
  padding-top: 25px;
}

.info-h3 {
  font-weight: 900;
  font-size: 20px;
  margin: 10px 0;
}

.info-price {
  font-weight: 300;
  font-size: 14px;
}

.info-p {
  display: inline;
  color: black;
  font-weight: 500;
  font-size: 16px;
}

.info-svg {
  vertical-align: middle;
  color: black;
}

.content-btn {
  text-align: center;
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content-btn.active {
  display: block;
}

/* sentence */

.sentence {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0;
}

.sentence-img {
  width: 55%;
}

.sentence-info {
  margin: auto;
  width: 280px;
}

.sentence-info-p-size {
  font-size: 14px;
}

/* news */

.news-wrapper {
  text-align: center;
}

.news-info,
.main-news-info {
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 45px;
  color: white;
  background: #0000008a;
  display: none;
}

.news:hover .news-info {
  display: flex;
}

.main-news:hover .main-news-info {
  display: flex;
}

.news {
  width: 100%;
}

.news-img {
  object-fit: cover;
  height: 375px;
  width: 830px;
}

.second-news-img {
  width: 100%;
}

.second-news {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 90px;
}

.main-news,
.news {
  display: grid;
}

.main-news {
  margin: 0 90px;
}

.main-news-info,
.news-img,
.news-info,
.second-news-img {
  grid-area: 1/2;
}

.news-p {
  padding-bottom: 25px;
  width: 350px;
  margin: 0 auto;
}

.news-btn {
  width: 150px;
  padding: 10px;
  background: none;
  border: 1px solid white;
  color: white;
  text-align: center;
  margin: 0 auto;
}

.news-btn:hover {
  background: #e6e6e642;
}

/*service*/

.service {
  display: grid;
  grid-template-columns: auto auto;
  margin-right: 200px;
}

.footer {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background: #f2f2f2;
  padding: 40px 100px;
  margin:  0 auto;
}

.footer-a{
    display: block;
    color: black;
} 

.footer-a-main{
    font-weight: 700;
    padding: 20px 0;
    font-size: 15px;
}

.footer-a-second{
    color: #222;
    font-weight: 400;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 5px;
}


.footer-a-main:hover, .footer-a-second:hover{
    text-decoration: underline;
}

.footer-nav-final{
    margin-left: auto;
}


.footer-nav{
    margin-left: 10px;
    width: 160px;
}



@media screen and (max-width: 1280px) {
.nav{
    padding-left: 0px;
    font-size: 12px;
}

.header-p, .navwrapper {
    padding-right: 20px;
}

.container{
    width: 960px;
}

.navbar{
    padding-right: 0;
}

.main-news, .second-news {
    margin: 0 40px;
}
}


@media screen and (max-width: 1190px) {
    .nav-li {
        padding-left: 10px;
    }

    .header-p, .navwrapper {
        padding-right: 20px;
    }

    .news-img {
        width: 650px;
    }   

    .footer {
        grid-template-columns: auto auto auto auto 290px;
    }
    
    .nav {
        font-size: 10px;
    }

    .footer{
    display: flex;
    justify-content: space-between;

    }
    .footer-nav{
        display: none;
    }

    .footer-nav-final{
        display: contents;
    }

    .service {
        margin-right: 100px;
    }
}


@media screen and (max-width: 1024px) {
.container{
    width: 720px;
}  

.hamburger{
    display: block;
    width:24px;
    height:24px 
}

.logo {
    padding: 20px;
}

.navwrapper{
    width: 100%;
    background: white;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 99;
}

.nav-li{
text-align: center;
}

.nav-li-a{
    display: block;
    color: black;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;

}

.nav, .header-p, .header-nav-svg{
    display: none;
}

.logo {
    width: 75px;
    height: 20px;
    
}

.header-a{
    margin-left: auto;
    margin-right: 20px;
}
.bi{
    width:24px;
    height:24px 
}

.sentence{
    display: block;
}

.sentence-info{
    display: block;
    margin: 0;
    width: 350px;
}

.sentence-img {
    width: 90%;
}

.more{
    padding-top: 0;
}

.content{
    width: 645px;
}

.news-img {
    height: 255px;
    width: 565px;
}

}

@media screen and (max-width: 900px){

.service{
    flex-wrap: wrap;
    display: flex;
}


.navbar-list li{
    width: 100px;
    text-align: center;
}

.cards{
    display: grid;
}

.content {
    justify-content: center;
    width: 500px;
}

.navbar{
    margin-right: 150px;
}

.cards {
    grid-template-columns: auto;

}

.navbar {
    margin-right: 0;
}

.news-img {
    height: 240px;
    width: 430px;
}

.second-news {
    display: grid;
    grid-template-columns: auto;
}

.news{
    margin-top: 15px;
}

.footer-nav-final{
    display: block;
    margin-right: auto;
}

}

@media screen and (max-width: 768px) {
    .container{
        width: 540px;
    }


    .navbar {
    display: none;
    background: rgba(255, 255, 255);
    width: 100%;
    margin-left: -200px;
    margin-right: 0;
    grid-template-columns: 20px auto;
    }


    .navbar-list li {
        width: 100%;
        text-align: center;
        
    }

    .news-img {
        height: 240px;
        width: 345px;
    }

.content {
    justify-content: center;
    width: 435px;
}

.show-menu{
    display: block;
}

}

@media screen and (max-width: 576px) {
    .container{
        width: 360px;
    }

    .card {
        width: 220px;
}
    .card-img {
        width: 200px;
    }

    .content {
        width: 285px;
    }

    .footer {
        display: block;
        padding: 50px;
    }

    .offer {
        margin-left: 25px;
        width: 325px;
    }

    .sentence-img {
        width: 75%;
      }

      .sentence-info {
        width: 300px;
    }

    .news-img {
        height: 175px;
        width: 315px;
    }

    .news-p {
        width: 250px;
        font-size: 14px;
    }
    
    .info-h3 {
        font-weight: 700;
        font-size: 18px;
        width: 210px;
    }

    .info {
        padding-left: 10px;
    }
}